<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
div.hsplit:after {
	content: "";
	clear: both;
	display: table;
}

div.hsplit > div {
	float: left;
}

div.task_row:hover {
	background-color: #e6e6ff;
}

div.task_row {
	cursor: pointer;
	padding-top: 10px;
}

.color:hover{
	background-color: #e6e6ff;
	cursor: pointer;
}
.cross{
	padding:2px;
	margin-bottom: 10px;
}
.cross:hover{
	background-color:#9999ff ;
	cursor: pointer;
	border-radius: 15px;
	
}
	
</style>
<body  ng-app="myApp" ng-controller="myCtrl">
	<div style="border:solid #ccc 1px; ">
		<div class="hsplit"  style="background-color: #6666ff; color: white;" >
			<div style=" width: 500px; text-align: center; font-size: 20px; padding-top:7px; "><b>Task Maneger</b></div>
			<div style=" width: 100px; margin: 5px;  padding:5px;float:right; text-align: center;">{{k}}/{{list.length}}
			</div>
		</div>
		<div style=" padding-left: 5px; margin-top: 10px; " >
		 	<div ng-repeat="x in list" class="hsplit task_row" >
				<div style="">
					<input ng-click="h()" ng-model="x.check" type="checkbox"  >
				</div>
				<div style="margin-left: 10px; margin-right: 10px;" >{{x.name}}</div>
				<div    style="float: right;  padding-right: 40px;">
					<span ng-click="g(x.id)" class="material-icons cross " >
					clear
					</span>
				</div>
			</div>

		</div>
		<div class="hsplit" >
			<div style=" margin:10px 5px;">
				<input  ng-model="y" class="color" type="text" placeholder="Add new">
			</div>
			
				<div  ng-click="f()">
					<span class="material-icons cross" style="margin-top:7px;; font-size: 25px;">
						add_circle_outline
					</span>
			</div>
			
		</div>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		$scope.y="";
		$scope.count=0;
		$scope.z=false;
		$scope.list=[];
		$scope.f=function(){

			$scope.list.push({name:$scope.y, id:$scope.count, check:$scope.z})
			$scope.count+=1
		}

	
		$scope.g=function(id){
			var l2=[]
			for (i in $scope.list){
				if($scope.list[i]["id"]!= id){
					l2.push($scope.list[i])
				}
			}
			$scope.list=l2
			$scope.h()
		}

		$scope.h=function(){
			$scope.k=0;
			for (i in $scope.list){
				if ($scope.list[i]["check"]==true){
					$scope.k+=1
				}
			}	

		}
		$scope.h();
	});
	</script> 
</body>
</head>
</html