<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
div.hsplit:after {
	content: "";
	clear: both;
	display: table;
}

div.hsplit > div {
	float: left;
}
.number {
	padding: 5px;
	margin:20px 20px;
	border-radius: 50%;
	border:solid #ccc 1px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	text-align: center;
}

.number:hover {
	background-color: #e6e6ff;
}

.number:focus, .number:active {
	outline:0;
	background-color: #c6c6ff;
}

</style>

<body ng-app="myApp" ng-controller="myCtrl">

<div style="border:solid black 1px; width: 300px;">
	<div style="border:solid black 1px; padding:10px; text-align: right; height: 20px;">{{x}}</div>
	<div  class="hsplit" style="padding:5px 0px;">
		<button class="number" ng-click='key("1")' >1</button>
		<button class="number" ng-click='key("2")' >2</button>
		<button class="number"  ng-click='key("3")' >3</button>
		<button class="number"  ng-click='key("4")' >4</button>
		<button class="number"  ng-click='key("5")' >5</button>
		<button class="number"  ng-click='key("6")' >6</button>
		<button class="number"  ng-click='key("7")' >7</button>
		<button class="number"  ng-click='key("8")' >8</button>
		<button class="number"  ng-click='key("9")' >9</button>
		<button class="number"  ng-click='key("0")' >0</button>
		<button class="number"  ng-click='key("+")' >+</button>
		<button class="number"  ng-click='result()' >=</button>
		<button class="number"  ng-click='key("-")' >-</button>
		<button class="number"  ng-click='key("*")' >*</button>
		<button class="number"  ng-click='clear("C")' >C</button>
		<button class="number"  ng-click='back()' >
		 <span class="material-icons" style="font-size: 15px; text-align: center; padding-left: 4px;">
			arrow_back_ios
			</span>
		</button>
		<button class="number"  ng-click='key("/")' >/</button>
	</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
	$scope.x = ""
	$scope.key = function(y) {
		$scope.x += y;
	}
	$scope.result=function(){
	    var l=[""];
	    var symbol=null;
	    for (i in $scope.x) {
	    	if ($scope.x[i]=="+" || $scope.x[i]=="*" || $scope.x[i]=="-" || $scope.x[i]=="/") {
	    		symbol = $scope.x[i]
	    		l.push("")
	    	}
	    	else {
				l[l.length-1] += $scope.x[i]
	    	}
	    }
	    console.log(l)
	    console.log(symbol)

    	if (symbol=="+") {
    		var k=0
    		for( i in l){
    			k+= parseInt(l[i])
    		}
    		$scope.x= k
	    }
	    else if (symbol=="*") {
	    	var j=1
	    	for( i in l){
	    		j*= parseInt(l[i])
	    	}
	    	$scope.x=j
	    }
	    else if (symbol =="-") {
	    	var m = parseInt(l[0]);
	    	var i = 1;
	    	while (i < l.length) {
	    		m -=  parseInt(l[i]);
	    		i += 1
	    	}
	    	$scope.x = m

	    }

	    else if (symbol =="/") {
	    	var m = parseInt(l[0]);
	    	var i = 1;
	    	while (i < l.length) {
	    		m /= parseInt(l[i]);
	    		i += 1
	    	}
	    	$scope.x = m
	    }
	}


	$scope.clear=function(){
		$scope.x=""
	}
	// $scope.back2=function(){
	// 	$scope.x = $scope.x.substring(0, $scope.x.length-1)
	// }
	$scope.back = function() {
		q = ""
		for (i in $scope.x) {
		 	if (i!=$scope.x.length-1) {
		 		q += $scope.x[i]
		 	}
		 }
		 $scope.x = q
	}


});
</script>
</body>
</html>