<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
div.hsplit:after {
content: "";
clear: both;
display: table;
}

div.hsplit > div {
	float: left;
}

</style>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="hsplit">
		<input type="number" ng-model="y" ng-change='f()'>
		 <select ng-model="a" ng-change='f()'>
			<option>Cm</option>
			<option>Meter</option>
			<option>KM</option>
		</select>
		= <input type="number" ng-model="z" ng-change='g()' >
		 <select ng-model="b" ng-change='g()'>
			<option>Cm</option>
			<option>Meter</option>
			<option>KM</option>
		</select>

	</div>

	<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.a = "Cm"
		$scope.b = "Cm"
		$scope.y=0;
		$scope.f = function() {
			console.log(111)
			 var scale=0;
			if ($scope.a=="Cm"){
				scale=1;	
			}
			else if ($scope.a=="Meter"){
				scale=100;
			}
			else if ($scope.a=="KM"){
				scale=100000;
			}
			$scope.z=parseFloat($scope.y)*scale;
			console.log(222)
    	
    	}
    	$scope.z=0;
    	$scope.g = function() {
			 var scale=0;
			if ($scope.b=="Cm"){
				scale=100000;	
			}
			else if ($scope.b=="Meter"){
				scale=100;
			}
			else if ($scope.b=="KM"){
				scale=1;
			}
			$scope.y=parseFloat($scope.z)*scale;
    	
    	}
	});
	</script>
</body>
</html>
