
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
  <p>Name: <input type="text" ng-model="y"></p>
   <p>Age: <input type="text" ng-model="z"></p>
 
  <button  ng-click="f()">Add</button><br><br>

  <div ng-repeat="x in list" style="border:solid green 1px;height: 50px;"> 
  	<div> {{x.name}}</div>
  	<div>{{x.age}}</div>
  </div>
<script>
function store(d) {
	localStorage["data6"] = JSON.stringify(d || {})
}

function load(default_data) {
	return (("data6" in localStorage) ? JSON.parse(localStorage["data6"]) : default_data)
}

function clear() {
	localStorage.removeItem("data6")
}

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
	$scope.y="";
  	$scope.z="";

  	$scope.list=load([])
	$scope.f=function(){
		if($scope.y=="" || $scope.z==""){
			alert("input khali h")
		}
		else{
			$scope.list.push( {name:$scope.y, age:$scope.z})
			store($scope.list)
			$scope.y=""	
			$scope.z=""
		}
	}
});
</script>
</body>
</html>
