<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
div.hsplit:after {
content: "";
clear: both;
display: table;
}

div.hsplit > div {
	float: left;
}

</style>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="hsplit" >
		<div style="margin:20px 5px;" >
			<button ng-click="light_button()" >Change color</button>
		</div>
		<div style="margin:5px;"  >
		 	<span ng-repeat='y in list2' class="material-icons" style="font-size: 85px;" ng-style="{'color': list[(k+y)%list.length]}">
				emoji_objects
			</span>
		</div>
	</div>
	
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
	s=$scope
	$scope.list=["red", "yellow", "green", "black"]
  $scope.k = 0
	$scope.light_button=function() {
			$scope.k = ($scope.k + 1) % $scope.list.length
	}
	function range(x) {
		var i=0;
    	var l=[]
    	while (i<x) {
    		l.push(i+1)
       		i+=1	
    	}
	    return l
	}
	$scope.list2 = range(100)


});
</script>
</body>
</html>