<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<style>
.nav-link{
	margin: 0px 20px;

}
 div.hsplit:after {
	content: "";
	clear: both;
	display: table;
}

div.hsplit > div {
	float: left;
}
.nav{
	color:blue;
}
</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div style="position: fixed;  z-index: 100; width: 100%;" >
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="width: 100%;">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="padding:0px;">
		    <a class="navbar-brand" href="#"><img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_4ee2f9.png"  width="100"  ></a>
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
		    </form>
		  </div>
		</nav>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
		   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav" >
		    <ul class="navbar-nav" >
		     
		      <li class="nav-item background">
		        <a class="nav-link" href="#">Women's</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Men's</a>
		      </li>
		      
		      <li class="nav-item">
		        <a class="nav-link" href="#">Home $ furnitur</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Electronis</a>
		      </li>
		     
		      <li class="nav-item">
		        <a class="nav-link" href="#">Kids</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Sport $ Books</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Filghts</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Offers Zone</a>
		      </li> 
		    </ul>
		  </div>
		</nav>
	</div><br><hr>
	<div style="height: 70px" ></div>
	<div style=" border:solid black 1px;" ng-repeat="l in item">
		<div ng-repeat="(x,y) in l">
			-----{{y.price}}----<br>
			<div ng-repeat="(a,b) in y">{{b}}</div>
			}
		</div>
	</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
	$scope.item={
			"mobile":{"vivo":{"price":200,
							  "color":"red", 
							  "size":"S"},
					"nokia":{"price":800,
							  "color":"white", 
							  "size":"XS"},
					"oppo":{"price":700,
							  "color":"green", 
							  "size":"XXL"}},
			"tv":{"sumsung":{"price":500,
							  "color":"green", 
							  "size":"L"}},
			"mobile acce":{"charger":{"price":2000,
							  "color":"black", 
							  "size":"XS"}}			  
							}


	// realme","Sumsung","Nokia","MOtola","Oppo","Apple","Readme","J5"]}



});
</script>
</body>
</html>

